^contentpage {
    background-color: lightgray;
    margin:0;
}

FlexLayout{
    margin:0;
}

.FlexHeaderText {
    background-color:lightgray;
    align-items:center;
    justify-content:space-around;
    flex-wrap:wrap;
    flex-direction:row;
    margin-top:5;
}