^contentpage {
    background-color: lightgray;
    margin:0;
}

FlexLayout{
    margin:0;
}

.FlexHeaderText {
    background-color:lightgray;
    align-items:center;
    justify-content:space-around;
    flex-wrap:wrap;
    flex-direction:row;
    margin-top:5;
}

.BlueButton {
    padding-left: 10;
    padding-right: 10;
    background-color:cornflowerblue;
    color:white;
}