:root {
    --text-color: black;
    --text-color-selected: black;
    --tile-bk-color: #CCCCCC;
    --tile-bk-color-selected: #ADD8E6;
    --tile-border-color: #7A7A7A;
    --tile-border-color-selected: #1E90FF;
    --div-bk-color: #FFF;
    --div-border-radius: 0px;
    --div-border-size: 1px;
    --div-margin-bottom: 15px;
}

body {
    background-color: var(--div-bk-color);
    margin: 0;
    overflow: hidden;
}

.mainTable {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: var(--div-bk-color);
}

