@font-face {
   font-family: 'digital-7';
   src: url('digital-7.ttf');
}

body {
    background-color: white;    
    margin:0;
}

#FireworksCanvas {
    background: lightblue;
    opacity: .7;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    height: 50px;
    display: none;
}
 
#wordsList {
    background-color: lightblue;
    height: 50px;
    text-align:center;
    position: relative;
}

#scoreBoard {
    height: 50px;
    line-height: 50px;
}

#score {
    float: left;
    height: 100%;
    width: 50%;
}

#timeClock {
    float: right;
    height: 100%;
    width: 50%;
}

.wordDiv {
    color: black;
    font-family: Arial, sans-serif;
    font-size: xx-large;
}

.wordCompleteDiv {
    color: red;
    text-decoration: line-through;
    font-family: Arial, sans-serif;
    font-size: xx-large;
}

.digitalText {
    color: white;
    background-color: dodgerblue;
    font-family: 'digital-7', sans-serif;
    font-size: xx-large;
    text-align: center;
}

table.headerTable {
    border: 0px;
    background-color: lightblue;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
}

table.headerTable td, table.headerTable th {
    border: 0px solid #FFFFFF;
    padding: 2px 2px;
    width: 25%;
}

table.headerTable tbody td {
    font-size: 13px;
    color: #000000;
}

table.headerTable2 {
    border: 0px;
    background-color: lightblue;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
}

table.headerTable2 td, table.headerTable2 th {
    border: 0px solid #FFFFFF;
    padding: 0px;
    width: 12%;
}

table.headerTable2 tbody td {
    color: #000000;
}