@font-face {
   font-family: 'digital-7';
   src: url('digital-7.ttf');
}

body {
    background-color: white;    
    margin:0;
}

#FireworksCanvas {
    background: #000000;
    opacity: .7;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    height: 50px;
    display: none;
}
 
#wordsList {
    background-color: lightblue;
    height: 50px;
    text-align:center;
    position: relative;
}

#scoreBoard {
    height: 50px;
    line-height: 50px;
}

#score {
    float: left;
    height: 100%;
    width: 50%;
}

#timeClock {
    float: right;
    height: 100%;
    width: 50%;
}

.letterDiv {
    color: black;
    font-family: Arial, sans-serif;
    font-size: xx-large;
}

.letterDivSelected {
    color: red;
    font-family: Arial, sans-serif;
    font-size: xx-large;
}

.digitalText {
    color: white;
    background-color: dodgerblue;
    font-family: 'digital-7', sans-serif;
    font-size: xx-large;
    text-align: center;
}

table.tilesTable {
    border: 1px;
    background-color: lightblue;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

table.tilesTable td, table.tilesTable th {
    border: 0px solid #FFFFFF;
    padding: 2px 2px;
}

table.tilesTable tbody td {
    font-size: 13px;
    color: #000000;
}

table.tilesTable tfoot td {
    font-size: 14px;
}

table.tilesTable tfoot .links {
    text-align: right;
}

table.tilesTable tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}