@font-face {
   font-family: 'digital-7';
   src: url('digital-7.ttf');
}

body {
    background-color: red;    
    margin:0;
}

#FireworksCanvas {
    background: #000000;
    opacity: .7;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.letterDiv {
    margin: 0;
    color: black;
    background-color: dodgerblue;
    font-family: Arial, sans-serif;
    font-size: xx-large;
    border: 2px solid blue;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

#tilesList {
    width: 100%;
    height: 100%;
}

.letterDivSelected {
    margin: 0;
    color: red;
    font-family: Arial, sans-serif;
    font-size: xx-large;
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.digitalText {
    color: white;
    background-color: dodgerblue;
    font-family: 'digital-7', sans-serif;
    font-size: xx-large;
    text-align: center;
}

table.tilesTable {
    border: 1px;
    background-color: lightblue;
    width: 100%;
    height: 100%;
}

    table.tilesTable td, table.tilesTable th {
        border: 0px solid #FFFFFF;
        padding: 0px 0px;
        text-align: center;
    }

    table.tilesTable tbody td {
        font-size: 13px;
        color: #000000;
        text-align: center;
    }

